<footer>
    <div class="text-center footer p-3">
        <div class="row">
            <div class="col-md-4">
                <h3>LOCATION</h3>
                <p >2215 John Daniel Drive</p>
                <p >Clark, MO 65243</p>
            </div>
    
            <div class="col-md-4">
                <h3 >AROUND THE WEB</h3>
                <div class="icons">
                    <i  class="fa-brands fa-facebook mx-3 icon"></i>
                    <i class="fa-brands fa-linkedin-in mx-3 icon"></i>
                    <i  class="fa-solid fa-globe mx-3 icon"></i>
                </div>
            </div>
    
            <div class="col-md-4">
                <h3>ABOUT FREELANCER</h3>
                <p> Freelance is a free to use, licensed Bootstrap theme created by Route </p>
            </div>
          </div>
    </div>
    <div class="py-4 boba">
        <div>
        <p class="heba text-center">Copyright 2024. Designed by<span class="color-heba ms-2">ℍ𝔼𝔹𝔸 𝔸𝕎𝔸𝔻</span>, All rights reserved. </p>
        </div>
    </div>
    
</footer>
