<nav class="navbar navbar-expand-lg f-top py-4 ">
    <div class="container me-5">
      <a class="navbar-brand fw-bold" href="#">START FRAMEWORK</a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active fw-bold" routerLinkActive="bg-warning bord" routerLink="about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fw-bold" routerLinkActive="bg-info bord" routerLink="portfolio">PORTFOLIO
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fw-bold" routerLinkActive="bg-danger bord" routerLink="contacts">CONTACT</a>
          </li>
         </ul>
      </div>
    </div>
  </nav>
