<div class="container portfolio">
    <h1 class="fw-bold text-center">PORTFOLIO COMPONENT</h1>
   
    <div class="row">
        <div class="col-md-4">
            <div>
                <div class="border-bottom-left"></div>  
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <i class="fa-solid fa-star"></i> 
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <div class="border-bottom-right"></div>  
            </div>
        </div>
        <div  *ngFor="let Picture of allPicture"  class="col-md-4 p-3" >
            <div class=" position-relative type-of-food overflow-hidden">
              <img src={{Picture.pImg}} class="w-100 rounded-3" alt="">
              <div class="food-layer d-flex text-black text-center p-2  align-items-center  ">
               <div class=" ">
                <i  class="fa-solid fa-plus"></i>
               </div>
              </div>
        
            </div>
          </div> 
     
    </div>
  </div> 




  