
.border-bottom-left{
    width: 45%;
    border: 2px solid ;
    color: black;
    margin-bottom: 30px;
    margin-left: 360px;
}

i{
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
    margin-left: 180px;
}   

.border-bottom-right{
    width: 45%;
    border: 2px solid ;
    color: black;
    margin-bottom: 30px;
    margin-left: -140px;
}
